{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="thank-you-section">
        <h1>ДЯКУЄМО ЗА ЗАЯВКУ!</h1>
        <p>Ми зв'яжемося із Вами у найближчий час.</p>

        <div class="subscription-info">
            <h2>Щоденні вигідні пропозиції на авто з США!</h2>
            <ul>
                <li>Отримуйте щоденні вигідні пропозиції про лоти на аукціонах США.</li>
                <li>Залиште пошук нам – ми підготуємо для вас список авто, які відповідають вашим очікуванням.</li>
            </ul>
        </div>

        <div class="social-buttons">
            <a href="https://instagram.com/your-link" target="_blank" class="custom-button__with-icon instagram">
                <img src="{% static 'img/icons/social-icons/instagram.svg' %}" alt="Instagram Icon"
                     class="button-icon"/>
                Instagram
            </a>
            <a href="https://t.me/+VWZ-XxFgbQFjNGQ6" target="_blank" class="custom-button__with-icon telegram">
                <img src="{% static 'img/icons/social-icons/telegram.svg' %}" alt="Telegram Icon" class="button-icon"/>
                Telegram
            </a>
        </div>
    </div>

{% endblock %}