{% load static %}

<!-- --------- Black Icon Bottom --------- -->
<div class="floating-btn__mobile" id="contactBtn">
    <img src="{% static 'img/mobile_icon/message.svg' %}" alt="">
</div>
<div class="floating-menu__mobile" id="contactMenu">
    <a href="viber://chat?number=%2B380680186666" target="_blank">
        <img src="{% static 'img/mobile_icon/viber-chat-app-svgrepo-com.svg' %}" alt="Viber"/> Viber
    </a>
    <a href="https://t.me/spirit_auto_ukraine" target="_blank"> 
        <img src="{% static 'img/mobile_icon/telegram-svgrepo-com.svg' %}" alt="Telegram"/> Telegram
    </a>
    <a href="https://wa.me/380680186666" target="_blank">
        <img src="{% static 'img/mobile_icon/whatsapp-whats-app-svgrepo-com.svg' %}" alt="WhatsApp"/> WhatsApp
    </a>
    <div class="close-btn__mobile" id="closeBtn">
        <img src="{% static 'img/mobile_icon/close-svgrepo-com.svg' %}" alt="">
    </div>
</div>